{% extends 'base.html' %}

{% block content %}
<h1>Data Klasifikasi Gaya Hidup</h1>

<div style="overflow-x:auto;">
    <table border="1">
        <thead>
            <tr>
                <th>No</th>
                <th>Nama</th>
                <th>Umur</th>
                <th>Berat Badan</th>
                <th>Tinggi Badan</th>
                <th>Olahraga</th>
                <th>Tidur</th>
                <th>Stres</th>
                <th>Makanan</th>
                <th>Hidrasi</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                <td>{{ loop.index }}</td> <!-- Menampilkan nomor urut -->
                <td>{{ row[0] }}</td> <!-- Nama -->
                <td>{{ row[1] }}</td> <!-- Umur -->
                <td>{{ row[2] }}</td> <!-- Berat Badan -->
                <td>{{ row[3] }}</td> <!-- Tinggi Badan -->
                <td>{{ row[4] }}</td> <!-- Olahraga -->
                <td>{{ row[5] }}</td> <!-- Tidur -->
                <td>{{ row[6] }}</td> <!-- Stres -->
                <td>{{ row[7] }}</td> <!-- Makanan -->
                <td>{{ row[8] }}</td> <!-- Hidrasi -->
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
