{% extends 'base.html' %}

{% block content %}

<div class="form-container">
    <h1>Tolong jawab pertanyaan-pertanyaan di bawah ini</h1>
    <form method="POST" action="save_user_lifestyle">
        <label for="olahraga">Seberapa sering Anda berolahraga dalam seminggu?</label>
        <input type="number" id="olahraga" name="olahraga" required>
        
        <label for="tidur">Berapa jam rata-rata Anda tidur per hari?</label>
        <input type="number" id="tidur" name="tidur" required>
        
        <label for="stres">Seberapa sering Anda merasa stres dalam sebulan?</label>
        <input type="number" id="stres" name="stres" required>
        
        <label for="makanan">Seberapa sering Anda makan makanan cepat saji dalam seminggu?</label>
        <input type="number" id="makanan" name="makanan" required>
        
        <label for="hidrasi">Berapa banyak air yang Anda minum dalam sehari?</label>
        <input type="number" id="hidrasi" name="hidrasi" required>
        
        <input type="submit" value="Submit">
    </form>
</div>

{% endblock %}



